<button (click)="createClient()">Add new client</button>
<div *ng-for="#client of clients | sortByName" class="client">
  <div class="client-desc">
    <div class="sticky">
      <h1>
        {{client.name}} 
        <button #dcbtn (click)="deleteClient(client, dcbtn)">Delete</button>
      </h1>
    </div>
  </div>
  <button (click)="createTask(client)">Add new task</button>
  <div *ng-for="#task of client.tasks" class="task-wrapper">
    <div class="task" style="display: block;">  
      <div class="task-desc">
        <h2>
          {{task.name}}
          <button #dtbtn (click)="deleteTask(task, client, dtbtn)">Delete</button>
        </h2>
      </div>
    </div>
    <button (click)="createWorker(client, task)">Add worker</button>
    <table>
      <tr *ng-for="#worker of task.workers">
        <td class="worker-name">({{worker.user.nick}}) {{worker.user.name}}</td>
        <td *ng-for="#activity of worker.activities">
          <div *ng-if="activity">
            <input type="number" required
            data-id="{{activity?._id}}"
            data-prev="5"
            [(ng-model)]="activity.hours"
            (focus)="handleActivityFocus(activity)"
            (blur)="handleActivityBlur(activity, activity._id, worker._id, task._id, client._id)">
          </div>
          <div *ng-if="!activity" class="week-spacer"></div>
        </td>
        <td (click)="checkArray()">
          {{ getTotalTime(worker) }}
        </td>
        <td>
          <button #dwbtn (click)="deleteWorker(worker, task, client, dwbtn)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>