<!-- <div id="global-menu">
  <div>
    <label class="start-date" for="start-date">from </label>
    <select data-show-subtext="true" data-size="10" data-width="auto" class="show-menu-arrow show-tick" data-live-search="true" id="start-date" tabindex="-1"></select>
    <label class="end-date" for="end-date">to </label>
    <select data-show-subtext="true" data-size="10" data-width="auto" class="show-menu-arrow show-tick" data-live-search="true" id="end-date" tabindex="-1" /></select>
  </div>
  <div class="nav">
    <a href="/profile" class="profile"><i class="batch">&#xf044;</i>{{user?.nick}}</a>
    <a href="#" class="project-view" tabindex="-1">client view</a>
    <a href="#" class="users-view" tabindex="-1">user view</a>
  </div>
</div>
<div id="secondary-menu">
  <a *ng-if="user?.privLevel < 2" href="#" class="create-project" tabindex="-1">
    <i class="batch">&#xf015;</i> create client
  </a>
  <a href="#" class="toggle-archived" tabindex="-1">show archived clients</a>
  <div class="users-warning">Currently online: <strong></strong></div>
</div> -->