input {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  margin: 4px;
}

td {
  margin: 0;
  padding: 0;
}

.worker-name {
  width: 200px;
}

.week-spacer {
  padding-right: 5px;
  padding-left: 5px;
}

input::-webkit-inner-spin-button {
  display: none;
}